@media (min-width: 800px) {
    body {
        margin-left: auto;
        margin-right: auto;
        width: 800px;
    }
}

@media (min-width: 350px) {
    .portrait.small {
        width: 0;
    }

    .portrait.large {
        width: 134px;
    }
}

@media (min-width: 500px) {
    .h-resume {
        padding: 5px;
    }
}
