@media print {
    * {
        transition: none !important;
    }

    a {
        color: #000;
    }

    li li {
        page-break-inside: avoid;
    }

    .product .summary {
        max-height: 400px;
        padding-left: 0;
        margin-left: 0;
        border-left: none;
    }

    .product .caret {
        display: none;
    }

    a {
        padding: 0;
    }

    .bottom {
        display: none;
    }
}
