body, html, ul, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Slabo 27px', serif;
    background: #D9EEDE;
    color: #000601;
    position: relative;
}

.column {
    background: #F9FFFE;
}

.h-resume {
    transition: 0.3s;
}

h1, h2, h3, h4 {
    font-family: "Roboto", sans-serif;
    margin: 0;
    clear: right;
}

h1 {
    background: #80C18E;
    padding: 2px;
}

.section {
    padding: 5px;
    margin-bottom: 5px;
}

.section.last {
    margin-bottom: 0;
}

.portrait {
    border: 0;
    float: right;
    transition: 0.3s;
}

.portrait.small {
    width: 80px;
}

.portrait.large {
    width: 0;
}

.timespan {
    font-style: italic;
}

a {
    background: #2A853E;
    color: #D9EEDE;
    text-decoration: none;
    border-radius: 4px;
    padding: 3px 5px;
    font-family: monospace;
    transition: 0.3s;
}

a:hover {
    background: #80C18E;
}

li {
    padding: 0;
    list-style-type: none;
}

li.product {
    margin-bottom: 4px;
}

li.project, li.p-experience, li.p-education {
    margin-bottom: 10px;
}

li.project:last-child, li.p-experience:last-child, li.p-education:last-child {
    margin-bottom: 0;
}

li.p-experience, li.p-education {
    display: none;
}

li.p-experience:nth-child(-n+4), li.p-education:nth-child(-n+3) {
    display: block;
}

.projects .title {
    font-weight: bold;
}

li:first-child {
    margin-top: 0;
}

.projects .summary {
    display: inline;
}

a {
    word-wrap: break-word;
}

.projects .url {
    display: inline-block;
    word-break: break-all;
}

.employer-name {
    display: none;
}

.employer-name:first-child {
    display: inline;
}

.role {
    display: inline;
}

.role:after {
    content: ", ";
}

.role:last-child:after {
    content: "";
}

.product .title {
    font-weight: bold;
    cursor: pointer;
}

.product .title:hover {
    background: #fff;
    transition: 0.3s;
}

.product .summary {
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
    padding-left: 9px;
    margin-left: 7px;
    border-left: 1px solid #2A853E;
}

.product.visible .summary {
    transition-delay: 0.1s;
    max-height: 400px;
}

.caret {
    display: inline;
    line-height: 0;
    margin-right: 5px;
}

.caret img {
    max-width: 15px;
    max-height: 15px;
    transform: rotate(90deg);
    transition: 0.2s;
}

.product.visible .caret img {
    transform: rotate(180deg);
}

li.technology {
    font-style: italic;
}

li.technology .name {
    white-space: nowrap;
}

li.technology, ul.technologies {
    display: inline;
}

li.technology:last-child .comma {
    display: none;
}

.bottom {
    display: flex;
    background: #D9EEDE;
}

.bottom .button-segment {
    flex-grow: 1;
    text-align: center;
}

.bottom a {
    background: none;
    color: #2A853E;
    text-decoration: underline;
}

/* "desktop view" */

@media (min-width: 800px) {
    .column {
        margin-left: auto;
        margin-right: auto;
        max-width: 800px;
    }
}

@media (min-width: 350px) {
    .portrait.small {
        width: 0;
    }

    .portrait.large {
        width: 134px;
    }
}

@media (min-width: 500px) {
    .h-resume {
        padding: 5px;
    }
}

.print {
    display: none;
}

/* silliness */

@keyframes woah {
    0%   { background: red }
    14%  { background: orange }
    29%  { background: yellow }
    43%  { background: green }
    57%  { background: cyan }
    71%  { background: violet }
    85%  { background: magenta }
    100% { background: red }
}

@-webkit-keyframes woah {
    0%   { background: red }
    14%  { background: orange }
    29%  { background: yellow }
    43%  { background: green }
    57%  { background: cyan }
    71%  { background: violet }
    85%  { background: magenta }
    100% { background: red }
}

@-moz-keyframes woah {
    0%   { background: red }
    14%  { background: orange }
    29%  { background: yellow }
    43%  { background: green }
    57%  { background: cyan }
    71%  { background: violet }
    85%  { background: magenta }
    100% { background: red }
}

.woah:hover {
    animation: woah 2s linear 0s infinite;
    -webkit-animation: woah 2s linear 0s infinite;
    -moz-animation: woah 2s linear 0s infinite;
}

.dragon {
    position: absolute;
    bottom: 0;
    right: 5px;
    overflow: hidden;
    height: 250px;
    width: 300px;
    display: none;
}

.dragon.summoned {
    display: block;
}

.dragon img {
    position: absolute;
    width: 300px;
    top: 200px;
    transition: 0.5s;
    transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    -moz-transform: rotate(35deg);
    transition-timing-function: cubic-bezier(0, 1, .75, 1);
    -webkit-transition-timing-function: cubic-bezier(0, 1, .75, 1);
    -moz-transition-timing-function: cubic-bezier(0, 1, .75, 1);
}

.dragon img:hover {
    top: 0;
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
}
