@media (min-width: 800px) {
    body {
        margin-left: auto;
        margin-right: auto;
        width: 800px;
    }

    .portrait.small {
        display: none;
    }

    .portrait.large {
        display: inline;
    }
}
