body, html, ul, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Slabo 27px', serif;
    background: #D9EEDE;
    color: #000601;
}

h1, h2, h3, h4 {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

h1 {
    background: #80C18E;
    padding: 2px;
}

.section {
    padding: 5px;
    margin-bottom: 5px;
}

.timespan {
    font-style: italic;
}

a {
    background: #2A853E;
    color: #D9EEDE;
    text-decoration: none;
    border-radius: 4px;
    padding: 3px 5px;
    font-family: monospace;
    transition: 0.3s;
}

a:hover {
    background: #80C18E;
}

.p-adr li {
    padding: 0;
    list-style-type: none;
}

li.product {
    margin-bottom: 4px;
}

li.project, li.p-experience, li.p-education {
    margin-bottom: 10px;
}

li.project:last-child, li.p-experience:last-child, li.p-education:last-child {
    margin-bottom: 0;
}

li.p-experience, li.p-education {
    display: none;
}

li.p-experience:nth-child(-n+3), li.p-education:nth-child(-n+3) {
    display: block;
}

.projects .title {
    font-weight: bold;
}

li:first-child {
    margin-top: 0;
}

.projects .summary {
    display: inline;
}

a {
    word-wrap: break-word;
}

.projects .url {
    display: inline-block;
    word-break: break-all;
}

.employer-name {
    display: none;
}

.employer-name:first-child {
    display: inline;
}

.role {
    display: inline;
}

.role:after {
    content: ", ";
}

.role:last-child:after {
    content: "";
}

.product .title {
    font-weight: bold;
    cursor: pointer;
}

.product .title:hover {
    background: #fff;
    transition: 0.3s;
}

.product .summary {
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
}

.product .title:before {
    content: "▲";
}

.product.visible .summary {
    max-height: 400px;
}

.product.visible .title:before {
    content: "▼";
}

li.technology {
    font-style: italic;
}

li.technology .name {
    white-space: nowrap;
}

li.technology, ul.technologies {
    display: inline;
}

li.technology:last-child .comma {
    display: none;
}
